.header-area {
    padding-right: 0;
    padding-left: 0;
}

.left-area {
    background-color: ghostwhite;
    height: 90vh;
    padding: 2em;
}

.right-area {
    height: 90vh;
    padding: 2em;
}

.bi-currency-dollar {
    color: darkgreen;
}

.navbar {
    min-height: 10vh !important;
}

.bi-trash3-fill {
    color: brown;
}
