<div id="formulario" th:object="${formularioModel}">
    <form th:hx-post="@{/agregar-movimiento}" hx-target="#formulario" hx-swap="outerHTML">
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría</label>
            <input type="text" class="form-control" th:field="*{categoria}" list="categoria-lista" required>
            <datalist id="categoria-lista">
                <option value="Supermecado"></option>
                <option value="Gastos Fijos"></option>
                <option value="Formación"></option>
                <option value="Ocio"></option>
                <option value="Transporte"></option>
                <option value="Vivienda"></option>
                <option value="Salud Bienestar"></option>
                <option value="Seguros"></option>
                <option value="Salario"></option>
                <option value="Otros"></option>
            </datalist>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" th:field="*{descripcion}" required>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" th:field="*{fecha}" required th:hx-get="@{/seleccionar-movimientos}"
                hx-target="#movimientos" hx-trigger="change">
        </div>
        <div class="mb-3">
            <label for="monto" class="form-label">Monto</label>
            <input type="number" class="form-control" th:field="*{monto}" step="0.01" min="0.01" required>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{tipo}" value="ingreso" required>
            <label class="form-check-label" for="tipoIngreso">
                Ingreso
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" th:field="*{tipo}" value="egreso" required>
            <label class="form-check-label" for="tipoEgreso">
                Egreso
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</div>