<div id="movimientos" th:object="${movimientosModel}">
    <form th:hx-get="@{/movimientos}" hx-target="#movimientos" hx-swap="outerHTML"
        hx-trigger="recagar from:body, submit">
        <div class="row">
            <div class="col-sx-12 col-sm-4 col-lg-3">
                <select class="form-select form-select-sm" th:field="*{anio}" title="Años"
                    hx-on="change: htmx.trigger('form', 'recagar')">
                    <option th:each="anio : ${anios}" th:value="${anio.codigo}" th:text="${anio.descripcion}"></option>
                </select>
            </div>
            <div class="col-sx-12 col-sm-4 col-lg-3">
                <select class="form-select form-select-sm" th:field="*{mes}" title="Mes"
                    hx-on="change: htmx.trigger('form', 'recagar')">
                    <option th:each="mes : ${meses}" th:value="${mes.codigo}" th:text="${mes.descripcion}"></option>
                </select>
            </div>
            <div class="col-sx-12 col-sm-4 col-lg-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{incluirSaldoAnterior}"
                        hx-on="change: htmx.trigger('form', 'recagar')">
                    <label class="form-check-label" for="incluirSaldoAnterior1">
                        Incluir saldo anterior
                    </label>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="table-responsive">
        <table class="table table-light">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Categoría</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Ingreso</th>
                    <th scope="col">Egreso</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="*{incluirSaldoAnterior && saldoAnterior != 0}">
                    <td></td>
                    <td>Saldo Anterior</td>
                    <td></td>
                    <td class="text-end text-success" th:text="*{saldoAnterior > 0 ? saldoAnteriorAbs : ''}"></td>
                    <td class="text-end text-danger" th:text="*{saldoAnterior < 0 ? saldoAnteriorAbs : ''}"></td>
                    <td></td>
                </tr>
                <tr th:each="movimiento : *{movimientos}">
                    <td th:text="${movimiento.categoria}"></td>
                    <td th:text="${movimiento.descripcion}"></td>
                    <td th:text="${movimiento.fecha}"></td>
                    <td th:text="${movimiento.ingreso}" class="text-end text-success"></td>
                    <td th:text="${movimiento.egreso}" class="text-end text-danger"></td>
                    <td class="text-center">
                        <a href="#"
                            th:hx-delete="@{/eliminar-movimiento(id=${movimiento.id},anio=*{anio},mes=*{mes},incluirSaldoAnterior=*{incluirSaldoAnterior})}"
                            hx-target="#movimientos" hx-swap="outerHTML" hx-confirm="Desea eliminar este registro?">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="table-secondary">
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td th:text="*{#numbers.formatCurrency(totalIngreso)}" class="text-end text-success"></td>
                    <td th:text="*{#numbers.formatCurrency(totalEgreso)}" class="text-end text-danger"></td>
                    <td></td>
                </tr>
                <tr class="table-secondary">
                    <td></td>
                    <td></td>
                    <td>Saldo</td>
                    <td th:text="*{#numbers.formatCurrency(saldo)}" class="text-end"
                        th:classappend="*{saldo >= 0} ? 'text-success' : 'text-danger'"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>